body {
    margin: 0;
    padding: 0;
    background-color: #cacac4;
    color: rgb(0, 0, 0);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    
    background-image: url('img/image.png');
    /* background-size: cover;  */
    background-repeat: repeat; 
}
.sidebar {
    width: 350px;
    height: 100vh;
    background-color: #111;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    color: #ddd;
}

.right-sidebar {
    width: 250px;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
    color: #ddd;
    justify-content: center;
    display: flex;
}

.right-sidebar img{
    height: 90%;
}

.portrait {
    height: 200px;
    border: 3px solid red;

}


@keyframes borderColorChange {
    0% {
        border-color: red;
    }
    25% {
        border-color: white;
    }

    55% {
        border-color: red;
    }
    100% {
        border-color: red;
    }
}

.sidebar .banner{
    max-height: 200px;
}


.sidebar h2 {
    color: red;
}
.sidebar a {
    display: block;
    color: red;
    text-decoration: none;
    margin: 5px 0;
}
.main-content {
    margin-left: 400px;
    margin-right: 275px;
    padding: 20px;
    flex-grow: 1;
    /* background-color: #333; */
    min-height: 100vh;
}
.main-content h1{
    color: red;
}

.main-content h2{
    color: #555
}

.main-content p{
    line-height: 2;
    font-family: Arial, sans-serif;

}

.banner{
    border: 3px solid red;
    animation: borderColorChange 1s infinite;
}


.main-content .banner{
    object-fit: contain;
    width: 100%;
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin: 10px 0;
}

.hidden{
    display: none;
}